numpy<2.0.0
langchain
gradio
python-dotenv
langchain-openai
langchain-groq
langgraph
langchain_huggingface
sentence_transformers>=3.0.0
langchain-community
langchain_text_splitters
pypdf
langchain_chroma